<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Change Password</ion-title>

      <ion-buttons end>
       <button ion-button (click)="closeModal()">Close</button>
      </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

<form   #changePassForm="ngForm">

<div class="account-info-detail-form">
  <ion-list inset>

  <ion-item>
    <ion-input type="password" placeholder="Old Password" name="old_password"
     [(ngModel)]="changepass.old_password" #old_password="ngModel" spellcheck="false" autocapitalize="off" required>
     </ion-input>
    <!--  <p *ngIf="old_password.errors?.rangeLength">error message</p> -->
  </ion-item>

  <ion-item>
      <ion-input type="password"  placeholder="New Password"  name="new_password" [(ngModel)]="changepass.new_password" #new_password="ngModel" spellcheck="false" autocapitalize="off" required >
     </ion-input>
<!--      <p *ngIf="password.errors?.required">required error</p> -->
  </ion-item>


  <ion-item>
      <ion-input type="password"  placeholder="New Confirm Password"  name="new_cpassword" [(ngModel)]="changepass.new_cpassword" #new_cpassword="ngModel" spellcheck="false" autocapitalize="off"required >
     </ion-input>
      <!-- <p *ngIf="password.errors?.required">required error</p>  -->
  </ion-item>

</ion-list>

</div>


  <div class="done-btn" padding>
    <button  block class="signin-btn" [disabled]="!changePassForm.form.valid" (click)="changePassFun()" type="submit">Submit</button>
  </div>

</form>
</ion-content>
