

page-changepassword {
      font-family: 'Laila', serif;

    .toolbar-background-md {
  background: #eb429f none repeat scroll 0 0;
  border-color: #b2b2b2;
}

    .toolbar-background-ios {
  background: #eb429f none repeat scroll 0 0;
  border-color: #b2b2b2;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  background-color: transparent;
  color: #fff;
}

 
.bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
  background-color: transparent;
  color: #fff;
}
.toolbar-title-md {
  color: #fff;
  font-size: 2rem;
  font-weight: lighter;
  padding: 0 12px;
  font-family: 'Laila', serif;
}
.toolbar-title-ios {
  color: #fff;
  font-size: 2rem;
  font-weight: lighter;
  padding: 0 12px;
  font-family: 'Laila', serif;
}
.swiper-pagination-bullet-active {
  background: #eb429f none repeat scroll 0 0!important;
  opacity: 1;
}
.swiper-pagination-bullet {
  background: #eee none repeat scroll 0 0;
  
}
.main-category-box {
  background-color: #ededed;

}

 .main-category-box::after {
  clear: both;
  content: "";
  display: table;

}
 .content-md {
    background-color: #fff!important;
    color: #000;
    font-family: 'Laila', serif;
}

.content-ios {
    background-color: #fff!important;
    color: #000;
    font-family: 'Laila', serif;
}
.content-ios {
  background-color: #fff;
  font-family: 'Laila', serif;
}

.cart_icon_btn{
	position:relative;
}
.cart_icon_btn .button-inner > span {
  background-color: #d03489;
  border: 1px solid #eee;
  border-radius: 100px;
  font-family: verdana;
  font-size: 10px;
  height: 20px;
  left: 17px;
  padding-top: 3px;
  position: absolute;
  top: 0;
  width: 20px;
}
.back-button-text {
  align-items: center;
  display: none;
}
.list-ios[inset] .item {
  border-bottom: medium none;
}

.list-md .item-block .item-inner {
  border-bottom: medium none;
}
.list-ios .item-block .item-inner {
  border-bottom: medium none;
}
ion-item {
  border-bottom: none;
  padding: 5px 0;
  background-color:#FCFCFE;
  position:relative;
}
 .button-clear-md {
  background-color: transparent;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #488aff;
  opacity: 1;
  
  color:#EB429F;
  text-transform:capitalize;
}
 .button-clear-ios {
  background-color: transparent;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #488aff;
  opacity: 1;
  
  color:#EB429F;
  text-transform:capitalize;
}
.list-md .item-block .item-inner {
  border: 1px solid #dedede;
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede!important;
  border-radius:3px;
}
.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #EB429F!important;
  border-left-color: #EB429F;
  border-right-color: #EB429F;
  border-top-color: #EB429F;
  box-shadow: none;
}

.list-ios .item-block .item-inner {
  border: 1px solid #dedede;
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede!important;
  border-radius:3px;
}
.item-ios.item-input.item-input-has-focus .item-inner, .item-ios.item-input.input-has-focus .item-inner {
  border-bottom-color: #EB429F!important;
  border-left-color: #EB429F;
  border-right-color: #EB429F;
  border-top-color: #EB429F;
  box-shadow: none;
}
.label-md {
  margin: 13px 8px 13px 10px;
}
.label-ios {
  margin: 13px 8px 13px 10px;
}
.done-btn {
  margin: auto;
  width: 80%;
}
.done-btn > button {
  background-color: #eb429f;
  border-radius: 100px;
  color: #fff;
  font-size: 16px;
  height: 44px;
  width: 100%;
}
.text-input-md {
  margin: 10px 8px;
  padding: 0;
  width: calc(100% - 8px - 8px);
}
.text-input-ios {
  margin: 10px 8px;
  padding: 0;
  width: calc(100% - 8px - 8px);
}
.head-feilds {
  color: #2b2b2b;
  font-size: 16px;
}
.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child {
    border-bottom-color: transparent;
    box-shadow: none;
}
.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: transparent;
    box-shadow: none;
}

}

